<ion-view title="Tours">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <a style="display:inline-block;" ui-sref="tourguide2">
            <div style="text-align:center;">
                <img src="img/zurich.jpg" width="350" height="auto">
            </div>
        </a>
        <br>
        <a style="display:inline-block;">
            <div style="text-align:center;">
                <img src="img/tokyo.jpg" width="320" height="auto">
            </div>
        </a>
        <br>
        <a style="display:inline-block;">
            <div style="text-align:center;">
                <img src="img/paris.jpg" width="320" height="100">
            </div>
        </a>
        <br>
        <a style="display:inline-block;">
            <div style="text-align:center;">
                <img src="img/rome.jpg" width="320" height="100">
            </div>
        </a>
        <br>
        <a style="display:inline-block;">
            <div style="text-align:center;">
                <img src="img/seoul.jpg" width="320" height="100">
            </div>
        </a>
        <br>
        <a style="display:inline-block;" ui-sref="request">
            <div style="text-align:center;">
                <img src="img/2I1InAsHT5uOHXGghEDn_Request.png" width="320" height="100">
            </div>
        </a>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>