<ion-view title="Tour Guide Signup">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Full Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="example@example.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone Number</span>
                    <input type="tel" placeholder="1234567890">
                </label>
                <label class="item item-input">
                    <span class="input-label">Sample Tour Link</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 320px; height: 205px;"></div>
            <a ui-sref="tours" id="tourGuideSignup-button13" class="button button-assertive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>