<ion-view title="Minotour">
    <ion-content overflow-scroll="true" padding="false" style="background: url(img/1SlAVOTLmhSmwqTwrKQg_OI000110.jpg) no-repeat center;" scroll="false" class="has-header">
        <div style="position: absolute;  bottom: 375px; width: 100%;">
            <h1 style="color: white; text-align:center; font-size: 50px; margin: autos">Minotour</h1>
        </div>
        <div style="position: absolute; bottom: 125px; width: 100%;">
            <div class="row">
                <div class="button-bar">
                    <div class="col"><a ui-sref="signup" id="tourguide-button1" class="button button-assertive  button-block">Sign Up</a></div>
                    <div class="col"><a ui-sref="login" id="tourguide-button2" class="button button-balanced  button-block">Log In</a></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>